<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluate an article or blog with Natural Language Processing</title>
    </head>
    <body>
        <header id="header" aria-labelledby="h1">
            <h1 id="h1">Natural Language Evaluator</h1>
        </header>
        <main>
            <form id="form" action="#" onsubmit="return Client.handleSubmit(event)" aria-label="Article or blog for analysis">
                <label for="url">Article or blog URL</label>
                <input id="url" class="field" type="text" placeholder="http://... URL only" maxlength="1956" >
                <button id="evaluate" type="submit" aria-labelledby="form">Evaluate</button>
            </form>
            <section id="form__results" aria-labelledby="h2">
                <h2 id="h2">Results</h2>
                <div id="results__holder"></div>
            </section>
        </main>
        <footer id="footer" aria-label="Copyright">
            <p>Service provided by <a href="https://www.meaningcloud.com">MeaningCloud LLC</a></p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                })
            }
        </script>
    </body>
</html>
